<%= form_for(@syain_anpi) do |f| %>
  <% if @syain_anpi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@syain_anpi.errors.count, "error") %> prohibited this syain_anpi from being saved:</h2>

      <ul>
      <% @syain_anpi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :syain_info_id %><br />
    <%= f.number_field :syain_info_id %>
  </div>
  <div class="field">
    <%= f.label :syussyabi %><br />
    <%= f.text_field :syussyabi %>
  </div>
  <div class="field">
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :genzaiti %><br />
    <%= f.text_field :genzaiti %>
  </div>
  <div class="field">
    <%= f.label :idouhantei %><br />
    <%= f.text_field :idouhantei %>
  </div>
  <div class="field">
    <%= f.label :sousalog %><br />
    <%= f.text_field :sousalog %>
  </div>
  <div class="field">
    <%= f.label :recieveTime %><br />
    <%= f.time_select :recieveTime %>
  </div>
  <div class="field">
    <%= f.label :recieveData %><br />
    <%= f.date_select :recieveData %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
