<h1>Listing syain_anpis</h1>

<table>
  <tr>
    <th>Syain info</th>
    <th>Syussyabi</th>
    <th>Lng</th>
    <th>Lat</th>
    <th>Genzaiti</th>
    <th>Idouhantei</th>
    <th>Sousalog</th>
    <th>Recievetime</th>
    <th>Recievedata</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @syain_anpis.each do |syain_anpi| %>
  <tr>
    <td><%= syain_anpi.syain_info_id %></td>
    <td><%= syain_anpi.syussyabi %></td>
    <td><%= syain_anpi.lng %></td>
    <td><%= syain_anpi.lat %></td>
    <td><%= syain_anpi.genzaiti %></td>
    <td><%= syain_anpi.idouhantei %></td>
    <td><%= syain_anpi.sousalog %></td>
    <td><%= syain_anpi.recieveTime %></td>
    <td><%= syain_anpi.recieveData %></td>
    <td><%= link_to 'Show', syain_anpi %></td>
    <td><%= link_to 'Edit', edit_syain_anpi_path(syain_anpi) %></td>
    <td><%= link_to 'Destroy', syain_anpi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Syain anpi', new_syain_anpi_path %>
