<p id="notice"><%= notice %></p>

<p>
  <b>Syain info:</b>
  <%= @syain_anpi.syain_info_id %>
</p>

<p>
  <b>Syussyabi:</b>
  <%= @syain_anpi.syussyabi %>
</p>

<p>
  <b>Lng:</b>
  <%= @syain_anpi.lng %>
</p>

<p>
  <b>Lat:</b>
  <%= @syain_anpi.lat %>
</p>

<p>
  <b>Genzaiti:</b>
  <%= @syain_anpi.genzaiti %>
</p>

<p>
  <b>Idouhantei:</b>
  <%= @syain_anpi.idouhantei %>
</p>

<p>
  <b>Sousalog:</b>
  <%= @syain_anpi.sousalog %>
</p>

<p>
  <b>Recievetime:</b>
  <%= @syain_anpi.recieveTime %>
</p>

<p>
  <b>Recievedata:</b>
  <%= @syain_anpi.recieveData %>
</p>


<%= link_to 'Edit', edit_syain_anpi_path(@syain_anpi) %> |
<%= link_to 'Back', syain_anpis_path %>
