<%= form_for(@syain_info) do |f| %>
  <% if @syain_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@syain_info.errors.count, "error") %> prohibited this syain_info from being saved:</h2>

      <ul>
      <% @syain_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :syainID %><br />
    <%= f.text_field :syainID %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :busyo %><br />
    <%= f.text_field :busyo %>
  </div>
  <div class="field">
    <%= f.label :zyuusyo %><br />
    <%= f.text_field :zyuusyo %>
  </div>
  <div class="field">
    <%= f.label :deviceID %><br />
    <%= f.text_area :deviceID %>
  </div>
  <div class="field">
    <%= f.label :syainanpi_id %><br />
    <%= f.number_field :syainanpi_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
