<h1>安否確認し太郎くん</h1>
- 安否確認システムv001 -
</br>
<br/>
<form id="frmDataConnectPost" action="http://shiitakeo.com:3000/anpikakunin/send" method="post" >
    <input type="submit" id="send" value="かわいい社員達へ安否確認を送信する" />
  </form>
<form id="frmDataConnectPost" action="http://shiitakeo.com:3000/anpikakunin/resend" method="post" >
    <input type="submit" id="send" value="返信をしない社畜のなりそこない共へ安否確認を再送信する" />
  </form>
  </br>
<table border = "5">
  <tr>
    <th>社員ID</th>
    <th>名前</th>
    <th>デバイス登録</th>
    <th>所属部署</th>
    <th>住所</th>
    <th>出社可能日(1-4)</th>
    <th>現在地</th>
    <th>移動判定</th>
    <th>操作履歴</th>
    <th>返信日</th>
    <th>返信時間</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @syain_infos.each do |syain_info| %>
  <%puts syain_info.syainID%>
  <% if SyainAnpi.find_by_syain_info_id(syain_info.syainID).nil? 
    anpi = SyainAnpi.new
    anpi.syussyabi = 0
    else
      anpi = SyainAnpi.find_by_syain_info_id(syain_info.syainID)
    end
    if syain_info.deviceID.empty?
      isDevice = " x "
    else
      isDevice = " o "
    end
    
    case anpi.syussyabi
    when "1"
      syussyabi = "即日可能"
    when "2"
      syussyabi = "明日可能"
    when "3"
      syussyabi = "３日程度"
    when "4"
      syussyabi = "未定"
    else
      syussyabi = " "
    end

    if anpi.sousalog === "1"
      sousalog = "操作あり"
    else
      sousalog = "操作なし"
    end
  %>
  <tr>
    <td><%= syain_info.syainID %></td>
    <td><%= syain_info.name %></td>
    <td><%= isDevice %></td>
    <td><%= syain_info.busyo %></td>
    <td><%= syain_info.zyuusyo %></td>
    <td><%= syussyabi %>
    <td><%= anpi.genzaiti %></td>
    <td><%= anpi.idouhantei%></td>
    <td><%= sousalog%></td>
    <td><%= anpi.recieveData%></td>
    <td><%= anpi.recieveTime%></td>
    <td><%= link_to '詳細', syain_info %></td>
    <td><%= link_to '編集', edit_syain_info_path(syain_info) %></td>
    <td><%= link_to '削除', syain_info, method: :delete, data: { confirm: '本当にいいですか?' } %></td>
  </tr>
<% end %>
</table>

<br />
<br/>
<%= link_to '新規社員生産', new_syain_info_path %>

