<p id="notice"><%= notice %></p>

<p>
  <b>Syainid:</b>
  <%= @syain_info.syainID %>
</p>

<p>
  <b>Name:</b>
  <%= @syain_info.name %>
</p>

<p>
  <b>Busyo:</b>
  <%= @syain_info.busyo %>
</p>

<p>
  <b>Zyuusyo:</b>
  <%= @syain_info.zyuusyo %>
</p>

<p>
  <b>Deviceid:</b>
  <%= @syain_info.deviceID %>
</p>

<p>
  <b>Syainanpi:</b>
  <%= @syain_info.syainanpi_id %>
</p>


<%= link_to 'Edit', edit_syain_info_path(@syain_info) %> |
<%= link_to 'Back', syain_infos_path %>
